<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/order/layout-order">
<div-- layout:fragment="content">
    <div class="main">
        <div class="main-container order-page">
            <h2>ORDER</h2>
            <div class="order-container">
                <div class="order-wrapper">
                    <div class="order-list">
                        <h2>주문상품</h2>
                        <table>
                            <thead>
                            <tr>
                                <th style="width:500px;">상품명</th>
                                <th style="width:145px;">금액</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="art" th:each="art : ${arts}">
                                <input th:type="hidden" th:class="hidden-id" th:value="${art.getId()}">
                                <td class="name">
                                    <span class="thumb"><img th:src="@{/images/thumbnail/{fileName}(fileName=${art.getArtImage().getFilename()})}"></span>
                                    <p th:text="${art.getTitle()}">작품명입니다.작품명입니다.작품명입니다.작품명입니다.작품명입니다.작품명입니다.</p>
                                </td>
                                <td class="price"><span th:text="${#numbers.formatDecimal(art.getPrice(), 0, 'COMMA', 0, 'POINT')}"></span>원</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="delivery-info">
                        <h2>배송정보</h2>
                        <table>
                            <tr>
                                <td class="title"><span class="red">*</span>이름</td>
                                <td class="text"><input th:id="buyer_name" type="text"></td>
                            </tr>
                            <tr>
                                <td class="title"><span class="red">*</span>주소</td>
                                <td class="text"><input th:id="buyer_addr" type="text"><input type="button" value="우편번호 찾기"></td>
                            </tr>
                            <tr>
                                <td class="title"><span class="red">*</span>전화번호</td>
                                <td class="text"><input th:id="buyer_tel" type="text"></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="buy-container">
                    <div class="buy-wrapper">
                        <h2>총 <span class="total">0</span>개의 상품금액</h2>
                        <ul>
                            <li>합계</li>
                            <li><span th:id="total-order-price"></span>원</li>
                        </ul>
                    </div>
                    <button class="buy-btn" th:id="buy-btn">구매하기</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script src="/js/app/buy.js"></script>
</div-->
</html>