<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footerFragment">
        <style>
            .footer-container {
                width:100%;
                padding: 0 160px;
                margin:40px 0;
                box-sizing: border-box;
                text-align:center;
            }
            .footer-container > p {
                font-size:13px;
                color:#777777;
            }
        </style>
        <div class="footer-container">
            <p>Copyright © 2020 JangSuhyun. All rights reserved.</p>
        </div>
        <script src="/js/app/index.js"></script>
        <script src="/js/app/order.js"></script>

    </footer>
</html>