<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="headerFragment">
        <div class="container">
            <a href="/"><img src="/images/logo_wh.png"></a>
            <ul class="main-menu">
                <li><a th:href="@{/art/list}">Shop</a></li>
                <li><a href="">Contact</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/}" th:text="${userName}"></a></li>
            </ul>
        </div>
    </header>
</html>