<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout-list">
<div-- layout:fragment="content">
  <div class="main">
    <div class="sub-menu">
      <ul>
        <li>
          <a th:href="@{/art/list}">전체 작품</a>
        </li>
        <li>
          <a>명화<img src="/images/plus.png"></a>
          <p th:onclick="'location.href=\''+ @{/art/list/{category}(category = 2)} + '\''">명화</p>
          <P th:onclick="'location.href=\''+ @{/art/list/{category}(category = 3)} + '\''">동양화</P>
        </li>
        <li>
          <a th:href="@{/art/list/{category}(category = 4)}">추상화</a>
        </li>
        <li>
          <a href="#">모던아트<img src="/images/plus.png"></a>
          <p th:onclick="'location.href=\''+ @{/art/list/{category}(category = 6)} + '\''">오브제</p>
          <p th:onclick="'location.href=\''+ @{/art/list/{category}(category = 7)} + '\''">사진</p>
          <p th:onclick="'location.href=\''+ @{/art/list/{category}(category = 8)} + '\''">팝아트</p>
        </li>
      </ul>
    </div>
    <script>
      $(document).ready(function(){
        $(".sub-menu > ul > li p").hide();
        // $("ul > li:first-child a").next().show();
        $(".sub-menu > ul > li a").click(function(){
          if($(this).attr("href")){
            location.href = $(this).attr("href");
          }
          $(this).siblings().slideToggle(300);
          return false;
        });
        $(".sub-menu > ul > li").eq(0).trigger("click");
      });
    </script>

    <div class="art-container">
      <h2><p th:text="${categoryName}"></p> <span>(<span th:text="${count}"></span>)</span>
        <a th:href="@{/art/save}" class="btn btn-save" sec:authorize="isAuthenticated()">작품등록</a>
      </h2>
      <div class="art-wrapper">
        <ul>
          <li th:each="art : ${arts}" th:onclick="'location.href=\''+ @{/art/detail/{id}(id = ${art.getId()})} + '\''">
            <div class="thumb"><img th:src="@{/images/thumbnail/{fileName}(fileName=${art.getArtImage().getFilename()})}"></div>
            <div class="info">
              <p th:text="${art.getTitle()}"></p>
              <p th:text="${art.getArtist()}"></p>
              <p th:text="${#numbers.formatDecimal(art.getPrice(), 0, 'COMMA', 0, 'POINT')}"></p>
            </div>
          </li>
        </ul>
      </div>
      <div class="page-container">
        <span th:each="pageNum : ${pageList}" th:inline="text" class="page">
          <a th:href="@{'/art/list?page=' + ${pageNum}}">[[${pageNum}]]</a>
        </span>
        <script>
          var pageNum = location.search.split("?page=");
          $(top.document).find('.page').each(function(){
            if(pageNum[1] == $(this).find('a').text()){
              $(this).find('a').css({"color":"#0080ff"});
            }
          });

        </script>
      </div>
    </div>
  </div>
</div>
</html>