<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout-edit">
<div layout:fragment="content">
  <div class="main" id="fullpage">
    <div class="edit-container">
      <h2>작품 등록</h2>
      <form enctype="multipart/form-data" id="form">
        <ul class="edit-form">
          <li class="title">Category</li>
          <li class="content">
            <select onchange="categoryChange(this)">
              <option>== 대분류 선택 ==</option>
              <option value="a">명화</option>
              <option value="b">추상화</option>
              <option value="c">모던아트</option>
            </select>

            <select th:id="category">
              <option>== 소분류 선택 ==</option>
            </select>
            <script>
              function categoryChange(e) {
                var a = ["명화", "동양화"];
                var b = ["추상화"];
                var c = ["오브제", "사진", "팝아트"];
                var aId = [2,3];
                var bId = [4];
                var cId = [6,7,8];
                var category = document.getElementById("category");

                if(e.value == "a") {
                  var smllCate = a;
                  var smallCateId = aId;
                } else if(e.value == "b") {
                  var smllCate = b;
                  var smallCateId = bId;
                } else if(e.value == "c") {
                  var smllCate = c;
                  var smallCateId = cId;
                }

                category.options.length = 0; //option 초기화

                for (x in smllCate) {
                  var opt = document.createElement("option");
                  opt.value = smallCateId[x];
                  opt.innerHTML = smllCate[x];
                  category.appendChild(opt);
                }
              }
            </script>
          </li>
          <li class="title">Title</li>
          <li class="content">
            <input type="text" th:id="title" placeholder="작품명을 입력해주세요">
          </li>
          <li class="title">Artist</li>
          <li class="content">
            <input type="text" th:id="artist" placeholder="작가명을 입력해주세요">
          </li>
          <li class="title">Description</li>
          <li class="content">
            <input type="text" th:id="description" placeholder="설명을 입력해주세요">
          </li>
          <li class="title">Price</li>
          <li class="content">
            <input type="text" th:id="price" placeholder="판매금액을 입력해주세요">
          </li>
          <li class="title">Image</li>
          <li class="content">
            <div class="filebox">
              <input type="file" id="file" name="file">

              <input class="upload-name" value="파일을 선택해주세요">
              <label for="file">파일선택</label>
            </div>
          </li>
          <li>
            <a class="btn-save" th:id="btn-save">등 록</a>
          </li>
        </ul>
      </form>
    </div>
    </div>
    <script>
      $("#file").on('change',function(){
        var fileName = $("#file").val();
        $(".upload-name").val(fileName);
      });
    </script>
</div>
</html>